
.portfolio_Container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f9f9f9;
  padding: 4rem 0;
}
.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1140px;
  width: 100%;

  h1 {
    font-size: 2rem;
  }

  ul {
    margin-top: 20px;
    margin: 10px;
    padding: 0;
    list-style: none;
    display: flex;

  }

  .container {
    margin-top: 20px;
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .item {
      width: 25%;
      height: 25%;
      border-radius: 20px;
      border: 1px solid rgb(240, 239, 239);
      margin: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      position: relative;
      transition: all .5s ease;
      cursor: pointer;
      overflow: hidden;


      h3 {
        position: absolute;
        font-size: 1.5rem;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1; 

      }

      &:hover {
        -webkit-box-shadow: 0px 1px 14px -1px rgba(0,0,0,0.73); 
        box-shadow: 0px 1px 14px -1px rgba(0,0,0,0.73);
        img {
 
        }
      }
    }
  }
}

@media only screen and (max-width: 426px){
  .portfolio{
    .container{
      .item{
        width: 50%;
        height: 50%;
      }
    }
  }
}
